name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:  

permissions:
  contents: read  

jobs:
  # the workflow can contain other jobs, such as linting, testing, etc.
  release:
    runs-on: ubuntu-latest
    permissions:
      # This enables the job to create and/or update GitHub releases
      contents: write
    steps:
      # run git checkout
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # setup go
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.1

      # run goreleaser
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
          distribution: goreleaser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
